{% extends "template.html" %} {% block title %} Not Found {% endblock %} {%
block head %} {% endblock %} {% block content %}
<div class="container has-text-centered">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player
    src="https://assets1.lottiefiles.com/packages/lf20_c8szgzpw.json"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px"
    loop
    autoplay
  ></lottie-player>
</div>
{% endblock %}
